{% extends "base.html" %}

{% block content %}
<div class="container mt-5 mb-5">
    <h3 class="mb-3">La liste des clients</h3>
    <div class="row">
        <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Numéro client</th>
      <th scope="col">Nom</th>
      <th scope="col">Adresse</th>
      <th scope="col">Email</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Facebook</th>
      <th scope="col">Instagram</th>
      <th scope="col">Fidélité</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for e in clients %}
    <tr>
      <th scope="row">{{ e.n_client }}</th>
      <td>{{ e.nom_client }}</td>
      <td>{{ e.add_postale }}</td>
      <td>{{ e.add_email }}</td>
      <td>0{{ e.tel }}</td>
      <td>{{ e.facebook }}</td>
      <td>{{ e.instagram }}</td>
      <td>{{ e.fidelite }}</td>
      <td><a href="#">Modifier</a></td>
    </tr>
    {% empty %}
    <h3>Il n'y a pas de client pour l'instant</h3>
    {% endfor %}
  </tbody>
</table>
    </div>
</div>

{% endblock %}