{% extends "base.html" %}

{% block content %}
<div class="container mt-5 mb-5">
    <h3 class="mb-3">La liste des clients</h3>
    <div class="row">
        <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Id client</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Adresse mail</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Facebook</th>
      <th scope="col">Instagram</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for e in clients %}
    <tr>
      <th scope="row">{{ e.idClient }}</th>
      <td>{{ e.nom }}</td>
      <td>{{ e.prenom }}</td>
      <td>{{ e.mail }}</td>
      <td>0{{ e.telephone }}</td>
      <td>{{ e.facebook }}</td>
      <td>{{ e.instagram }}</td>
      <td><a href="{% url 'clientDetails' idClient=e.idClient %}">Modifier</a></td>
    </tr>
    {% empty %}
    <h3>Il n'y a pas de client pour l'instant</h3>
    {% endfor %}
  </tbody>
</table>
    </div>
</div>

{% endblock %}